*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #0000;
}
h2{
    font-weight: bolder;
}
.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 columns */
    gap: 20px;
  }
  
  .form-grid label {
    grid-column: 1;
  }
  
  .form-grid input,
  .form-grid select,
  .form-grid div {
    grid-column: 2;
  }
  
  .form-grid button[type="submit"],
  .form-grid button[type="button"] {
    grid-column: 1 / -1; /* Span across both columns */
  }
  .form-grid input[type="text"],
  .form-grid input[type="number"],
  .form-grid select {
    width: 90vw;
    padding: 10px;
    box-sizing: border-box;
  }

.footer-info{
    background-color: darkslategrey;
    padding: 20px;
    text-align: center;
}
.footer-info{
    margin-bottom: 20px;
}
.footer-widget{
    display: flex;
    justify-content: space-around;
}
.icon-container{
    margin: 20px;
}
.icon-container span{
    font-size: 24px;
    margin-bottom: 10px;
}
.icon-container h2{
    font-size: 18px;
    margin-top: 0;
}

@media (max-width: 480px) {
    .form-grid input[type="text"],
    .form-grid input[type="number"],
    .form-grid select {
      width: 100%;
      padding: 5px;
    }
  }
  
  @media (max-width: 768px) {
    .form-grid input[type="text"],
    .form-grid input[type="number"],
    .form-grid select {
      width: 90%;
      padding: 10px;
    }
  }
  
  @media (max-width: 1024px) {
    .form-grid input[type="text"],
    .form-grid input[type="number"],
    .form-grid select {
      width: 80%;
      padding: 15px;
    }
  }

    